[submodule "oh-my-zsh/.oh-my-zsh"]
	path = oh-my-zsh/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "sublime_text/Library/Application Support/Sublime Text 3/Packages/ApplySyntax"]
	path = sublime_text/Library/Application Support/Sublime Text 3/Packages/ApplySyntax
	url = git://github.com/thomasjachmann/ApplySyntax.git
[submodule "sublime_text/Library/Application Support/Sublime Text 3/Packages/Git"]
	path = sublime_text/Library/Application Support/Sublime Text 3/Packages/Git
	url = git://github.com/kemayo/sublime-text-2-git.git
[submodule "sublime_text/Library/Application Support/Sublime Text 3/Packages/OpenSearchResult"]
	path = sublime_text/Library/Application Support/Sublime Text 3/Packages/OpenSearchResult
	url = git://github.com/abrookins/OpenSearchResult.git
[submodule "sublime_text/Library/Application Support/Sublime Text 3/Packages/SideBarEnhancements"]
	path = sublime_text/Library/Application Support/Sublime Text 3/Packages/SideBarEnhancements
	url = git://github.com/titoBouzout/SideBarEnhancements.git
[submodule "sublime_text/Library/Application Support/Sublime Text 3/Packages/Theme - Flatland"]
	path = sublime_text/Library/Application Support/Sublime Text 3/Packages/Theme - Flatland
	url = git://github.com/thomasjachmann/flatland.git
