Library/Application\ Support/Launchbar/Calculator/history.plist
Library/Application\ Support/Launchbar/Habits.plist
Library/Application\ Support/Launchbar/License.plist
Library/Application\ Support/Launchbar/Recent\ Documents.plist
