#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOB
cask "karabiner-elements"
EOB

source {{ .chezmoi.sourceDir }}/../_helpers.zsh

yellow "if karabiner doesn't work properly, open ~/Library/Caches/Homebrew/Cask/karabiner-elements-version.dmg and install it again manually"
